header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}


h1 {
  font-weight: 900;
  font-size: 36px;
  color: var(--main)
}

h1 a img {
  width: 220px;
}

.categorias {
  display: flex;
  gap: 25px;
}

.categorias a {
  font-size: 24px;
  color: var(--light-gray);
}

.categorias a:hover{
  text-decoration: none;
  color: var(--gray)
}

.categorias .selected {
  color: var(--gray);
  border-bottom: 3px solid var(--main);
}


.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons a {
  color: var(--main);
}

.icons a img {
  width: 30px;
}

.orange-circle {
  background-color: rgb(240, 110, 3);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  float: right;
  position: relative;
  bottom: -15px;
  right: 10px;
  z-index: 2;
}
