header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}


h1 {
  font-weight: 900;
  font-size: 36px;
  color: var(--main)
}

h1 a img {
  width: 220px;
}

.categorias {
  display: flex;
  gap: 25px;
}

.categorias a {
  font-size: 24px;
  font-weight: 600;
  color: var(--light-gray);
}

.categorias a:hover{
  text-decoration: none;
  color: var(--gray)
}

.categorias .selected {
  color: var(--gray);
  border-bottom: 3px solid var(--main);
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons a {
  color: var(--main);
  cursor: pointer;
}

.icons a img {
  width: 30px;
}

.orange-circle {
  background-color: rgb(240, 110, 3);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  float: right;
  position: relative;
  bottom: -15px;
  right: 15px;
  z-index: 2;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
    font-size: 30px;
    color: var(--main);
    cursor: pointer;
  }

  .categorias {
    display: none;
  }

  .icons {
    display: none
  }
}

.hamburger-menu {
  background-color: var(--main);
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  color: #fff;
}

.hamburger-menu span {
  position: relative;
  left: 155px;
  top: 40px;

}

.categorias-responsive, .menu-responsive {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.hamburger-menu a  {
  text-decoration: none;
  color: white
}

.categorias-responsive a:hover, .menu-responsive a:hover {
  background-color: rgba(92, 121, 194, 0.788);
}

