<header class="container">
  <div class="logo">
    <h1>
      <a href="#"
        ><img
          src="https://fontmeme.com/permalink/211025/d552e72927c24dd5c35783c1bbf5b86e.png"
      /></a>
    </h1>
  </div>
  <div class="categorias">
    <!-- <a routerLink="/" [routerLinkActive] = "['selected']">home</a> -->
    <a routerLink="/category/series" [routerLinkActive] = "['selected']">séries</a>
    <a routerLink="/category/bandas" [routerLinkActive] = "['selected']">bandas</a>
    <a routerLink="/category/filmes" [routerLinkActive] = "['selected']">filmes</a>
    <a routerLink="/category/games" [routerLinkActive] = "['selected']">games</a>
  </div>
  <div class="icons">
      <a href="#">
          <img src="../../../assets/icons/search-icon.svg">
      </a>
      <a>
          <img src="../../../assets/icons/user-icon.svg" (click)="loggedIn()">
      </a>
      <a routerLink="/shopping-cart">
          <img src="../../../assets/icons/cart-icon.svg">
          <div *ngIf = "cart.getCart().length > 0" class="orange-circle"><span>{{cart.getCart().length}}</span></div>
      </a>
  </div>
</header>
