<header class="container">
  <div class="logo">
      <h1><a href="#"><img src="https://fontmeme.com/permalink/211025/d552e72927c24dd5c35783c1bbf5b86e.png"></a></h1>
  </div>
  <div class="categorias">
      <a href="#" class="selected">home</a>
      <a href="#" >séries</a>
      <a href="#">bandas</a>
      <a href="#">filmes</a>
      <a href="#">games</a>
  </div>
  <div class="icons">
      <a href="#">
          <img src="../../../assets/icons/search-icon.svg">
      </a>
      <a href="#">
          <img src="../../../assets/icons/user-icon.svg">
      </a>
      <a href="#">
          <img src="../../../assets/icons/cart-icon.svg">
      </a>
  </div>
</header>
