<app-header></app-header>
<main class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">games</a></li>
    </ol>
  </nav>
  <section class="container">
    <h2>mais vendidos</h2>
    <div class="imgs">
      <div *ngFor="let product of products">
        <a [routerLink]="['/product', { id: product.id }]" *ngIf="product.category == 'games'">
          <img src={{product.url}}>
        </a>
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>
