<app-header></app-header>

<main class="container">
  <app-progress-bar></app-progress-bar>

  <section class="container">
    <form>
      <div class="address">
        <h2>Endereço de entrega</h2>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="cep">CEP:</label>
            <input type="text" class="form-control" id="cep" name="cep" placeholder="00000-000" (blur) = "findCEP()" [(ngModel)]="cep.cep">
          </div>
          <div class="form-group col-md-8">
            <label for="rua">Endereço:</label>
            <input type="text" class="form-control" id="rua" name="rua"  [(ngModel)]="cep.logradouro">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="rua">Número:</label>
            <input type="text" class="form-control" id="numero" name="numero"  [(ngModel)]="cep.numero">
          </div>
          <div class="form-group col-md-6">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="cep.cidade">
          </div>
          <div class="form-group col-md-4">
            <label for="estado">Estado:</label>
            <input type="text" class="form-control" id="estado" name="estado"  [(ngModel)]="cep.estado">
          </div>
        </div>
      </div>

      <div class="payment-method">
        <h2>Método de pagamento:</h2>
        <form>
          <select [(ngModel)] = "selectedValue" name="selectedValue">
            <option value="boleto" name="boleto">Boleto</option>
            <option value="credito" name="credito">Cartão de crédito</option>
            <option value="debito" name="debito">Cartão de débito</option>
          </select>
        </form>
      </div>
      <div *ngIf="selectedValue != 'boleto'">
        <div class="card-payment">
          <h3>Dados do cartão</h3>
          <div class="form-row">
            <div class="form-group col-md-12  left-addon">
              <span class="material-icons">
                payment
                </span>
              <input type="text" class="form-control" placeholder="Número do cartão">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <input type="text"  class="form-control" placeholder="Nome no cartão">
            </div>
            <div class="form-group col-md-2">
              <input type="text" class="form-control" placeholder="MM/AA">
            </div>
            <div class="form-group col-md-2">
              <input type="text" class="form-control" placeholder="CVV">
            </div>
          </div>
        </div>


      </div>
      <div class="btn-submit">
        <button type="submit" class="btn btn-default" routerLink = "/confirmation">Finalizar compra</button>
      </div>
    </form>
  </section>
</main>
