main {
  margin: 4em auto 0 auto;
  width: 40%;
  border: 1px solid rgb(196, 196, 196);
  padding: 2em;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  color: var(--gray);
  font-size: 28px;
}

input, button, p {
  margin: 0 auto;
  width: 350px;
}

p {
  color: var(--gray);
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
}

a {
  color: var(--main);
}

button {
  background-color: var(--main);
}
