<app-header *ngIf="router.url == '/login'"></app-header>
<main>
  <div class="modal">
    <span class="material-icons" (click)="cancel()">
      close
    </span>
    <h1 class="text-center">Login</h1>
    <form class="form mt-4" (submit)="login({username, password})">
      <div class="form-group">
        <input
          name="username"
          id="username"
          class="form-control"
          placeholder="E-mail"
          autofocus
          [(ngModel)]="username"
        />
      </div>

      <div class="form-group">
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          placeholder="Senha"
          [(ngModel)]="password"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block" routerLink = "/profile">Entrar</button>
    </form>

    <p>Ainda não tem uma conta? <a routerLink="/register">Registre-se aqui</a></p>

  </div>
</main>
