<app-header></app-header>
<main>
    <h1 class="text-center">Login</h1>
    <form class="form mt-4" (submit)="login()">
      <div class="form-group">
        <input
          name="email"
          id="email"
          class="form-control"
          placeholder="E-mail"
          autofocus
          [(ngModel)]="email"
        />
      </div>
      {{ email }}
      <div class="form-group">
        <input
          name="pass"
          id="pass"
          type="password"
          class="form-control"
          placeholder="Senha"
          [(ngModel)]="pass"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block" routerLink = "/profile">Entrar</button>
    </form>

    <p>Ainda não tem uma conta? <a routerLink="/register">Registre-se aqui</a></p>


</main>
