<app-header></app-header>
<main>
  <section class="container">
    <div class="banner">
      <div class="img-principal">
        <img
          src="../../../assets//img/cartoon.jpg"
          class="animate__animated animate__fadeInLeft"
        />
      </div>
      <div class="img-secundaria">
        <img
          src="../../../assets/img/coding.jfif"
          class="animate__animated animate__fadeInRight animate__delay-1s"
        />
        <div
          class="
            texto-promo
            animate__animated animate__fadeInRight animate__delay-2s
          "
        >
          Camisetas a partir de R$19,90!
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <h2>mais vendidos</h2>
    <owl-carousel-o [options]="customOptions" >
      <ng-template carouselSlide *ngFor="let product of products | slice:10:19;" >
        <div class="slide"  class="overlay-container">
          <a [routerLink]="['/product', { id: product.id }]">
            <img src={{product.url}}>
            <div class="overlay">
              <h5>{{product.name}}</h5>
              <p>R${{product.price}}</p>
            </div>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>

  </section>
  <section class="container">
    <h2>coleção 2021</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let product of products | slice:25:31;" >
        <div class="slide"  class="overlay-container">
          <a [routerLink]="['/product', { id: product.id }]">
            <img src={{product.url}}>
            <div class="overlay">
              <h5>{{product.name}}</h5>
              <p>R${{product.price}}</p>
            </div>
          </a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>
  <app-footer></app-footer>
</main>
