
<body>
    <main class="container">
        <h1>Lista de produtos</h1>
        <div class="produto" *ngFor="let product of products">
            <div class="produto-info">
                    <img src="{{product.url}}"/>
                <div>
                    <h5>Nome: {{product.name}}</h5>
                    <p>Descrição: <span>{{product.description}}</span></p>
                    <p>Valor: <span>R${{product.price}}</span></p>
                    <p>Categorias: {{product.category}}</p>
                </div>
            </div>

            <div class="icons">
                <a routerLink="/product-form">
                    <span class="material-icons" (click)="sendProduct(product)">
                    edit
                    </span>
                </a>
                <a routerLink="/product-list">
                <span class="material-icons" (click)="deleteProduct(product.id)">
                    delete
                </span>
                </a>
            </div>
        </div>

        <div class="btn-list ">
            <a routerLink="/product-form"><button type="button" class="btn btn-success btn-lg">Cadastrar produto</button></a>
        </div>

    </main>
</body>
