
<body>
    <main class="container">
        <h1>Lista de produtos</h1>
        <div class="produto">
            <div class="produto-info">
                    <img src="https://via.placeholder.com/170"/>
                <div>
                    <h5>Nome: Teste</h5>
                    <p>Descrição: <span>lorem ipsum dolor sit amet</span></p>
                    <p>Valor: <span>R$100,00</span></p>
                    <p>Quantidade: <span>10</span></p>
                    <p>Categorias:</p>
                    <div class="categorias">
                        <span class="categoria">teste</span>
                        <span class="categoria">teste2</span>

                    </div>
                </div>
            </div>

            <div class="icons">
                <a href="#">
                    <span class="material-icons">
                    edit
                    </span>
                </a>
                <a href="#">
                <span class="material-icons">
                    delete
                </span>
                </a>
            </div>
        </div>

        <div class="btn-list ">
            <button type="button" class="btn btn-success btn-lg"><a href="/">Cadastrar produto</a></button>
          </div>
    </main>
</body>
