<section class="container">
  <div class="progress-icons">
    <div class="progress-text">
      <span routerLink="/shopping-cart" class="pointer">carrinho</span>
      <span>pagamento</span>
      <span>confirmação</span>
    </div>
    <div class="progress-line">
      <span class="material-icons pointer" routerLink="/shopping-cart" *ngIf="router.url === '/shopping-cart'">
        circle
      </span>
      <span class="material-icons"  *ngIf="router.url != '/shopping-cart'">
        radio_button_unchecked
      </span>

      <div class="line"> </div>

      <span class="material-icons" *ngIf="router.url === '/payment'">
        circle
      </span>
      <span class="material-icons" *ngIf="router.url != '/payment'">
        radio_button_unchecked
      </span>

      <div class="line"> </div>
      <span class="material-icons" *ngIf="router.url === '/confirmation'">
        circle
      </span>
      <span class="material-icons" *ngIf="router.url != '/confirmation'">
        radio_button_unchecked
      </span>
    </div>
  </div>
</section>
