<app-header></app-header>
<main class="container">
  <div class="progress-icons">
    <div class="progress-text">
      <span>carrinho</span>
      <span>pagamento</span>
      <span>confirmação</span>
    </div>
    <div class="progress-line">
      <span class="material-icons">
        radio_button_unchecked
      </span>
      <div class="line"> </div>
      <span class="material-icons">
        radio_button_unchecked
      </span>
      <div class="line"> </div>
      <span class="material-icons">
        circle
      </span>
    </div>
  </div>

  </main>
