<app-header></app-header>
<main class="container">
  <div class="progress-icons">
    <div class="progress-text">
      <span>carrinho</span>
      <span>pagamento</span>
      <span>confirmação</span>
    </div>
    <div class="progress-line">
      <span class="material-icons">
        circle
      </span>
      <div class="line"> </div>
      <span class="material-icons">
        radio_button_unchecked
      </span>
      <div class="line"> </div>
      <span class="material-icons">
        radio_button_unchecked
      </span>
    </div>
  </div>

  <section class="container">
    <article class="product-wrapper">
      <div class="product-img">
        <img src="../../../assets/img/img1.png">
      </div>
      <div class="product-info">
        <h2>Camisa Dunder Mifflin Paper Company</h2>
        <select>
          <option value="default" selected>Tamanho - G</option>
          <option value="p">P</option>
          <option value="m">M</option>
          <option value="g">G</option>
          <option value="gg">GG</option>
        </select>
      </div>
    </article>

  </section>

</main>
