main {
  margin: 4em auto;
  width: 60%;
}


p {
  font-weight: 600;
}


.progress-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-column: 1/7;
}

.progress-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  color: var(--main);
  font-size: 20px;
  font-weight: 600;
}

.progress-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1/7;
}

.progress-text span:nth-of-type(2) {
    margin-left: 30px;
}

.material-icons {
  font-size: 36px;
}

.line {
  width: 350px;
  height: 2px;
  background-color: var(--light-gray);
}

.product {
  display: flex;
  margin: 1.5em auto;
}

.product:first-of-type {
  margin-top: 3em;
}

.product-wrapper {
  width:100%;
}

.product-img img {
  width: 200px;
  height: 200px;
}

h2 {
  font-weight: 600;
  color: var(--gray);
  font-size: 22px;
  width: 50%;
}

.name-price {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

.price-delete {
  display: flex;
  gap: 15px;
}

.price-delete span{
  color: var(--gray);
  font-size: 20px;
  cursor: pointer;
}

.product-info {
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 3rem;
}

select {
  padding: 8px;
  cursor: pointer;

}

.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #000;
  padding: 5px;
}

.quantity button {
  border: none;
  margin: 0 5px;
  cursor: pointer;
}

hr {
  width: 50%;
  margin: 0 auto;
}

.prices {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-weight: 500;
  margin: 45px 45px 0 10px;
}

.prices p:last-of-type {
  font-weight: 900;
}

.btn-submit button {
  display: flex;
  background-color: var(--main);
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 auto;
}
