<app-header></app-header>
<main class="container">
  <app-progress-bar></app-progress-bar>

  <section class="container" *ngFor = "let product of products">
    <div class="product">
      <div class="product-img">
        <img src="../../../assets/img/img1.png">
      </div>
      <div class="product-wrapper">
        <div class="name-price">
          <h2>{{product.name}}</h2>
              <p class="price-delete">{{product.quantity}}x R${{product.price}}
                <span class="material-icons" (click)="deleteProduct(product)">
                  clear
                </span>
              </p>
        </div>
        <div class="product-info">
           <select [(ngModel)] = "product.size" (change)="syncCart()">
            <option *ngFor="let size of validSizes" value={{size}} [selected]="product.size == size">{{size}}</option>
          </select>

          <div class="quantity">
            <button (click) = clickDecrease(product)>-</button>
            <span>{{product.quantity}}</span>
            <button (click) = clickIncrease(product)>+</button>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </section>


  <section class="container">
    <div class="prices">
      <p>Subtotal: R${{total}}</p>
      <p>Desconto: R$00.00</p>
      <p>Total: R${{total}} </p>
    </div>
    <div class="btn-submit">
      <button type="button" class="btn btn-default" (click) = "showingModal()">Finalizar pedido</button>
    </div>
  </section>
  <app-signin-modal *ngIf = "showModal" (onCancelClick)="hidingModal()"></app-signin-modal>
</main>
