<app-header></app-header>
<main class="container">
  <div class="progress-icons">
    <div class="progress-text">
      <span>carrinho</span>
      <span>pagamento</span>
      <span>confirmação</span>
    </div>
    <div class="progress-line">
      <span class="material-icons">
        circle
      </span>
      <div class="line"> </div>
      <span class="material-icons">
        radio_button_unchecked
      </span>
      <div class="line"> </div>
      <span class="material-icons">
        radio_button_unchecked
      </span>
    </div>
  </div>

  <section class="container" *ngFor = "let product of products">
    <div class="product">
      <div class="product-img">
        <img src="../../../assets/img/img1.png">
      </div>
      <div class="product-wrapper">
        <div class="name-price">
          <h2>{{product.name}}</h2>
              <p class="price-delete">{{product.quantity}}x R${{product.price}}
                <span class="material-icons" (click)="deleteProduct(product)">
                  clear
                </span>
              </p>
        </div>
        <div class="product-info">
           <select [(ngModel)] = "product.size" (change) = "updateSize()">
            <option *ngFor="let size of validSizes" value={{size}} [selected]="product.size == size">{{size}}</option>
          </select>

          <div class="quantity">
            <button (click) = clickDecrease(product)>-</button>
            <span>{{product.quantity}}</span>
            <button (click) = clickIncrease(product)>+</button>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </section>


  <section class="container">
    <div class="prices">
      <p>Subtotal: R${{total}}</p>
      <p>Desconto: R$00.00</p>
      <p>Total: R${{total}} </p>
    </div>
    <div class="btn-submit">
      <button type="button" class="btn btn-default" routerLink = "/payment">Finalizar pedido</button>
    </div>
  </section>
</main>
