main {
  margin: 3em auto 0 auto;
  width: 40%;
  border: 1px solid rgb(196, 196, 196);
  padding: 2em;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  color: var(--gray);
  font-size: 28px;
  margin-bottom: 0;
}

input, button, p {
  width: 350px;
}

.form-wrapper {
  display: flex;
  justify-content:center;
}

label {
  margin-top: 10px;
  margin-bottom:0;
}

p {
  color: var(--gray);
  text-align: center;
  font-weight: 700;
}

a {
  color: var(--main);
}

button {
  margin-top: 15px;
  background-color: var(--main);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

label {
  color: var(--gray)
}

.controles {
  display: flex;
  flex-direction: column
}

a {
  margin: 5px auto;
}

i {
  margin-right: 5px;
}


@media screen and (max-width: 600px) {
  main {
    margin: 2em auto 0 auto;
    width: 80%;
  }
  input, button {
    margin: 0 auto;
    width: 300px;
  }

  button {
    margin-top: 15px;
  }
}
