<main>
    <form 
        #register="ngForm"
        (ngSubmit)="onSubmit(register.value)"
    >
        <label>
            Nome
            <input type="text" name="name" id="name" ngModel>
        </label>
        <label>
            Sobrenome
            <input type="text" name="surname" id="surname" ngModel>
        </label>
        <label>
            E-mail
            <input type="email" name="email" id="email" ngModel>
        </label>
        <label>
            Usuário
            <input type="text" name="username" id="username" ngModel>
        </label>
        <label>
            Senha
            <input type="password" name="pass" id="pass" ngModel>
        </label>
        <label>
            Confirmação de Senha
            <input type="password" name="conf" id="conf">
        </label>
        <div class="controles">
            <a routerLink="">Voltar a página inicial</a>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</main>

